.container {
  height: 600px;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1000px;

  @media (max-width: 646px) {
    height: auto;
  }
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
  width: 100%;

  @media (max-width: 740px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 646px) {
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }
}

.imageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fdf6d6;
  border-radius: 30px;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #fdf6d6;
  border-radius: 30px;
  margin: 20px;
  align-items: flex-start;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #fdf6d6;
  border-radius: 30px;
  margin: 20px;
  align-items: flex-start;
  padding: 20px;
}

.type {
  display: flex;
  flex-direction: column;
  background-color: #fdf6d6;
  border-radius: 30px;
  margin: 20px;
  align-items: flex-start;
  padding: 20px;
}

.desc {
  background-color: #fcfbf9;
  padding: 10px;
  border-radius: 20px;
}

p {
  font-size: 22px;

  @media (max-width: 740px) {
    font-size: 18px;
  }
}

h3 {
  font-size: 20px;
  @media (max-width: 740px) {
    font-size: 18px;
  }
}

h1 {
  font-size: 34px;

  @media (max-width: 740px) {
    font-size: 28px;
  }
}

ul {
  font-size: 18px;
  @media (max-width: 740px) {
    font-size: 16px;
  }
}

.btn_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 15px;
  padding-inline: 25px;
  background-color: #fe5f1e;
  border-radius: 28px;
}
span {
  color: #ffffff;
  font-weight: 700;
}
