.root {
  display: flex;
  min-height: 75vh;
  justify-content: center;
  align-items: center;

  .main {
    text-align: center;
  }
  span {
    font-size: 100px;
  }
}

.description {
  font-size: 18px;
}
