$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$logo: #181818;
$logo-gray: #7b7b7b;
$pizza-type: #f3f3f3;
$white: #ffffff;
$categories: #f9f9f9;
$categories-black: #282828;

$container-width: 90%;

$duration: 0.15s;
